extends: layout.html
title: Streaming
---
<h1>"Hello World!"</h1>
<p>I'm a software engineer, musician, and climber.</p>

<h2>Links</h2>
<ul>
    <li><a href="https://www.twitch.tv/jonathanbaugh">Twitch</a></li>
    <li><a href="https://www.youtube.com/jonathanbaugh">YouTube</a></li>
    <li><a href="https://configure.zsa.io/moonlander/layouts/MJxP0/gmyKX/0">Keyboard Layout (ZSA Moonlander)</a></li>
</ul>
